@import url("//cdn.web-fonts.ge/fonts/alk-rex-bold/css/alk-rex-bold.min.css");
body{
    font-family: "ALK Rex Bold", sans-serif;
    background-image: url(BDCAKE.jpg);
    background-size: cover;
    overflow: hidden;
    
}
h1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
    display: none;
    cursor: pointer;
    color: red;
    text-shadow: 0.1cm 0.1cm 0.1cm black;
    font-size: 2cm;
    transition: 0.4s;
}

h1:first-child {
    display: block;
}
#Yvela{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(250%);
    margin: auto;
    width: 50%;
    height: 50%;
    margin: auto;
    color: #fff;
    font-weight: 500;
    font-size: 10cm !important;
   
   
    

}
#yvela h1{
    text-shadow: 0.1cm 0.1cm 0.1cm solid black;
}
#fifth-header{
    color: purple;
   margin: auto;
}
#sixth-header{
    transform: translateY(-120%);
    margin: auto;
}
h1:hover{
    transition: 0.4s;
    color: pink;
    
    
}